li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .half {
    display:flex;
    flex-direction: column;
    margin:auto;
  }

  .whole {
    display: flex;
    flex-direction: row;
  }

  .page {
    margin-left: 40%;
    margin-right: 40%;
  }